<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">



      
    </div>


</nav>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand page-scroll" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Yoda Vision 
            </a>
            </div>

   
        </div>
        <!-- /.container-fluid -->
    </nav>