<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body class="container">

    <header>
        <% include ../views/partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                     <img src="http://68.media.tumblr.com/3cfff6321aab02a6b14191124692b3f7/tumblr_ntjet3TuNH1sqcorto1_r1_1280.png"  width=700 class="img-rounded img-responsive" alt="">
                </div>

                <p><%= msg %> <strong><%= searchString %></strong></p>
                <div class="search-results">
                    <%- include('../views/partials/searchResults', {searchResults: searchResults}); %>
				</div>
            </div>
            <div class="col-sm-4">
                
                <div class="well">
                    <h3>Look I'm A Sidebar!</h3>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../views/partials/footer %>
    </footer>
    
</body>
</html>