<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body class="container-fluid">

    <header>
        <% include ../views/partials/header %>
    </header>


        <main>



        <div class="row">
              
           

            <div class="col-sm-8">
                <p class="black">Searching for "<strong><em><%= searchString %><em></strong>"</p>
                
                
                <div class="search-results">
                    <%- include('../views/partials/searchResults', {searchResults: searchResults}); %>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../views/partials/footer %>
    </footer>
    
</body>
</html>